body{
  background-image: url("../image/cinema.jpg");
}
main p{
  color: #FFDAB9;
}
main nav a{
  color:#FFC500;
}

figcaption{
  color: #FFC500;
}

article ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #FFDAB9;
  grid-column-gap: 2em;
}

aside img{
  width: 200px;
  height: auto;
}

