

/*******************Galerie photo*******************/


aside p{
    background-color:#282828;
    color: white;
    width: 200px;
    padding: 2px;
    text-align: center;
}

section{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    
}

section h2{
    color: #FFC500;
    margin-left:0;
}

aside img{
    width: 150px;
    height: 200px;
    border: 25px ridge rgba(40,40,40, 1);
}

aside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 10em;
    grid-row-gap: 5em;
    margin-left: 5em;
    color: #5dade2;
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
}


