
/* Lien police */
@font-face{
  font-family: "lordish";
  src: url("../police/Lordish.ttf");
}

/* En tête */

header{
  color: #FFC500;
  text-align: center;
  font-family: lordish;
  font-weight: normal;
}

/* Corps */
body{
  background-image: url("../image/mur_sombre_vert2.jpg");
  background-repeat: repeat-x repeat-y;

}

article h2, section h2{
  color: #FFC500;
  margin-left: 80px;
  
}

a{
  color: #FFC500;
}

main{
  display: flex;
  flex-direction: row;
  
}

article h3{
  color: #5dade2;
  font-family: 'Times New Roman';
  font-weight: normal;
  margin-left: 80px;
  margin-right: 80px;
}


main p{
  color:   #5dade2;

  font-family: 'Times New Roman';
  margin-left: 80px;
  margin-right: 80px;
}



main nav {
  text-decoration: none;
}

main nav ul{
  list-style:none;
}

main nav a{
  color: #FFC500;
  font-family: 'Times New Roman';
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
}

i{
  color: red;
}

nav figcaption{
  font-size: 12px;
}

/* Image */
main nav img{
  width: 200px;
	height: 100px;
}

figure img{
  width: 100%;
  height: 60px;
}

figcaption{
  color:   #5dade2 ;
  font-size: 20px;
  font-family: 'Times New Roman';
}

/* Pied de page */

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}