main aside{
    color: #5dade2;
    text-align: left;
}

article img{
    width: 200px;
    height: auto;
}

article figure{
    margin-left: 80px;
}

article ul {
    color: #5dade2 ;
    margin-left: 80px;
    line-height: 1.5;
}
article figure:nth-of-type(even){
    text-align: right;

}