main aside img{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

nav figure img {
    width: 150px;
    height: 200px;
    
}

aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}
